<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>3.38305e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1079</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.38305e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1087</string>
		<key>amount</key>
		<string>50</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.38305e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1089</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.38305e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1104</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.38305e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1162</string>
		<key>amount</key>
		<string>3</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>4.94298e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1003</string>
		<key>amount</key>
		<string>2.5</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>4.94298e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1004</string>
		<key>amount</key>
		<string>6.25</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>4.94298e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1005</string>
		<key>amount</key>
		<string>35</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>4.94299e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1008</string>
		<key>amount</key>
		<string>200</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>4.94299e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>2000</string>
		<key>amount</key>
		<string>30</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>4.94299e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1093</string>
		<key>amount</key>
		<string>75</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>4.94299e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1253</string>
		<key>amount</key>
		<string>25</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>4.94299e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1257</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>4.94299e+06</string>
		<key>fdc_id</key>
		<string>356425</string>
		<key>nutrient_id</key>
		<string>1258</string>
		<key>amount</key>
		<string>3.75</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75045e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1004</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75045e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1079</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75045e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1087</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75045e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1089</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75045e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1104</string>
		<key>amount</key>
		<string>270</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75045e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1162</string>
		<key>amount</key>
		<string>9.7</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75045e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1253</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75046e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1258</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49405e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1003</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49405e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1005</string>
		<key>amount</key>
		<string>43.24</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49405e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1008</string>
		<key>amount</key>
		<string>162</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49405e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>2000</string>
		<key>amount</key>
		<string>37.84</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49405e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1093</string>
		<key>amount</key>
		<string>703</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49405e+06</string>
		<key>fdc_id</key>
		<string>356426</string>
		<key>nutrient_id</key>
		<string>1257</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1004</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1079</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1087</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1089</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1104</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1162</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75045e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1253</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75045e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1258</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1003</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1005</string>
		<key>amount</key>
		<string>41.18</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1008</string>
		<key>amount</key>
		<string>176</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>2000</string>
		<key>amount</key>
		<string>35.29</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1093</string>
		<key>amount</key>
		<string>676</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49405e+06</string>
		<key>fdc_id</key>
		<string>356427</string>
		<key>nutrient_id</key>
		<string>1257</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75043e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1004</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75043e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1079</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75043e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1087</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1089</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1104</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1162</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1253</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75044e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1258</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1003</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1005</string>
		<key>amount</key>
		<string>34.29</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1008</string>
		<key>amount</key>
		<string>143</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>2000</string>
		<key>amount</key>
		<string>28.57</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1093</string>
		<key>amount</key>
		<string>971</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49404e+06</string>
		<key>fdc_id</key>
		<string>356428</string>
		<key>nutrient_id</key>
		<string>1257</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1004</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1079</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75043e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1087</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75043e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1089</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75043e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1104</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75043e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1162</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75043e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1253</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75043e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1258</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49403e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1003</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49403e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1005</string>
		<key>amount</key>
		<string>45.95</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49403e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1008</string>
		<key>amount</key>
		<string>189</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49403e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>2000</string>
		<key>amount</key>
		<string>43.24</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49403e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1093</string>
		<key>amount</key>
		<string>757</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49403e+06</string>
		<key>fdc_id</key>
		<string>356429</string>
		<key>nutrient_id</key>
		<string>1257</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1004</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1079</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1087</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1089</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1104</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1162</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1253</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1258</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1003</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1005</string>
		<key>amount</key>
		<string>48.65</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1008</string>
		<key>amount</key>
		<string>189</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49403e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>2000</string>
		<key>amount</key>
		<string>43.24</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49403e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1093</string>
		<key>amount</key>
		<string>730</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49403e+06</string>
		<key>fdc_id</key>
		<string>356430</string>
		<key>nutrient_id</key>
		<string>1257</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75042e+06</string>
		<key>fdc_id</key>
		<string>356431</string>
		<key>nutrient_id</key>
		<string>1004</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356431</string>
		<key>nutrient_id</key>
		<string>1003</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356431</string>
		<key>nutrient_id</key>
		<string>1005</string>
		<key>amount</key>
		<string>34.29</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356431</string>
		<key>nutrient_id</key>
		<string>1008</string>
		<key>amount</key>
		<string>143</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356431</string>
		<key>nutrient_id</key>
		<string>2000</string>
		<key>amount</key>
		<string>28.57</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356431</string>
		<key>nutrient_id</key>
		<string>1093</string>
		<key>amount</key>
		<string>1257</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75041e+06</string>
		<key>fdc_id</key>
		<string>356432</string>
		<key>nutrient_id</key>
		<string>1004</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49401e+06</string>
		<key>fdc_id</key>
		<string>356432</string>
		<key>nutrient_id</key>
		<string>1003</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49401e+06</string>
		<key>fdc_id</key>
		<string>356432</string>
		<key>nutrient_id</key>
		<string>1005</string>
		<key>amount</key>
		<string>36.11</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356432</string>
		<key>nutrient_id</key>
		<string>1008</string>
		<key>amount</key>
		<string>139</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356432</string>
		<key>nutrient_id</key>
		<string>2000</string>
		<key>amount</key>
		<string>30.56</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>5.49402e+06</string>
		<key>fdc_id</key>
		<string>356432</string>
		<key>nutrient_id</key>
		<string>1093</string>
		<key>amount</key>
		<string>778</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>70</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75041e+06</string>
		<key>fdc_id</key>
		<string>356433</string>
		<key>nutrient_id</key>
		<string>1004</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75041e+06</string>
		<key>fdc_id</key>
		<string>356433</string>
		<key>nutrient_id</key>
		<string>1079</string>
		<key>amount</key>
		<string>0</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.75041e+06</string>
		<key>fdc_id</key>
		<string>356433</string>
		<key>nutrient_id</key>
		<string>1087</string>
		<key>amount</key>
		<string>133</string>
		<key>data_points</key>
		<string></string>
		<key>derivation_id</key>
		<string>75</string>
		<key>min</key>
		<string></string>
		<key>max</key>
		<string></string>
		<key>median</key>
		<string></string>
		<key>footnote</key>
		<string></string>
		<key>min_year_acquired</key>
		<string></string>
	</dict>
</array>
</plist>
